<section>
<br><br><br>
<div class="container">
    <div class="row">
    	<div class="col-lg-4"></div>
        <div class="col-lg-4">
        	<h4 style="text-align: center;">Loading</h4><br>
            <div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{loadValue}}" aria-valuemin="0" aria-valuemax="100" style="width:{{loadValue}}%">
					{{loadValue}}%
				</div>
			</div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</section>